<ion-content >

  <ion-slides pager>
    <ion-slide class="slide_image">
      <img src="assets/images/slide_1.png" alt="">
      <div>
        <h2>TITULO 1</h2>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
        <img src="assets/images/slide_2.png">

    </ion-slide>
    
    <ion-slide class="slide_image">
        <img src="assets/images/slide_3.png">

    </ion-slide>

    <ion-slide class="slide_image">
        <a onclick=goTotabsPage()>Continuar</a>
    </ion-slide>

  </ion-slides>

</ion-content>
